<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    选课管理
  </h1>
</div>
<div class="container">
  <div align="center">
    <button class="btn btn-default" style="width: 80px; height: 20px; " (click)="showDiv('AddOne')">添加</button>
    <button class="btn btn-default" style="width: 80px; height: 20px; " (click)="showDiv('Import')">导入</button>
  </div>
  <div class="table-responsive">
    <table class="table table-striped" align="center" border="1" width="1000">
      <thead>
      <tr>
        <th width="10%">序号</th>
        <th width="10%">学号</th>
        <th width="15%">姓名</th>
        <th width="20%">专业</th>
        <th width="20%">课程</th>
        <th width="10%">总评</th>
        <th width="15%">操作</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let sc of scs">
        <td>{{sc.id}}</td>
        <td>{{sc.no}}</td>
        <td>{{sc.name}}</td>
        <td>{{sc.depart}}</td>
        <td>{{sc.course}}</td>
        <td>{{sc.grade}}</td>
        <td>
          <div class="btn-group" align="center">
            <button class="btn btn-default" (click)="delete(sc)">删除</button>
            <button class="btn btn-default" (click)="showDiv('EditOne',sc)">编辑</button>
            <button class="btn btn-default" (click)="showDiv('Grade',sc)">成绩</button>
          </div>
        </td>
        <div id = "AddOne" style="display:none; position:absolute; z-index: 1000; background:white">
          <nav style="background-color: gainsboro">
            添加
          </nav>
          <table align="center" width="300">
            <tr>
              <th width="30%">学号：</th>
              <th width="70%"><input id="sc_no" type="text"/></th>
            </tr>
            <tr>
              <th width="30%">姓名：</th>
              <th width="70%"><input id="sc_name" type="text"/></th>
            </tr>
            <tr>
              <th width="30%">专业：</th>
              <th width="70%"><input id="sc_depart" type="text"/></th>
            </tr>
            <tr>
              <th width="30%">课程：</th>
              <th width="70%"><input id="sc_course" type="text"/></th>
            </tr>
          </table>
          <table align="center" width="300">
            <tr>
              <th width="50%"><button class="btn btn-default" style="width: 80px; height: 20px; " (click)="addOne(sc)">确认</button></th>
              <th width="50%"><button class="btn btn-default" style="width: 80px; height: 20px; " (click)="closeDiv('AddOne')">取消</button></th>
            </tr>
          </table>
        </div>
        <div id = "EditOne" style="display:none; position:absolute; z-index: 1000; background:white">
          <nav style="background-color: gainsboro">
            编辑
          </nav>
          <table align="center" width="300">
            <tr>
              <th width="30%">序号：</th>
              <th width="70%"><input type="text" disabled="true" id="edit_sc_id"/></th>
            </tr>
            <tr>
              <th width="30%">学号：</th>
              <th width="70%"><input type="text" id="edit_sc_no"/></th>
            </tr>
            <tr>
              <th width="30%">姓名：</th>
              <th width="70%"><input type="text" id="edit_sc_name"/></th>
            </tr>
            <tr>
              <th width="30%">专业：</th>
              <th width="70%"><input type="text" id="edit_sc_depart"/></th>
            </tr>
            <tr>
              <th width="30%">课程：</th>
              <th width="70%"><input type="text" id="edit_sc_course"/></th>
            </tr>
            <tr>
              <th width="30%">总评：</th>
              <th width="70%"><input type="text" disabled="true" id="edit_sc_grade"/></th>
            </tr>
          </table>
          -------------总评通过成绩操作修改-------------
          <table align="center" width="300">
            <tr>
              <th width="50%"><button class="btn btn-default" style="width: 80px; height: 20px; " (click)="edit(sc)">确认</button></th>
              <th width="50%"><button class="btn btn-default" style="width: 80px; height: 20px; " (click)="closeDiv('EditOne')">取消</button></th>
            </tr>
          </table>
        </div>
        <div id = "Grade" style="display:none; position:absolute; z-index: 1000; background:white">
          <nav style="background-color: gainsboro">
            BCD成绩
          </nav>
          <table align="center" width="300">
            <tr>
              <th width="30%">平时：</th>
              <th width="70%"><input id="grade1" type="text"/></th>
            </tr>
            <tr>
              <th width="30%">大作业：</th>
              <th width="70%"><input id="grade2" type="text"/></th>
            </tr>
            <tr>
              <th width="30%">期末：</th>
              <th width="70%"><input id="grade3" type="text"/></th>
            </tr>
            <tr>
              <th width="30%">总评：</th>
              <th width="70%"><input id="grade4" disabled="true" type="text" value="自动计算"/></th>
            </tr>
          </table>
          <table align="center" width="300">
            <tr>
              <th width="50%"><button class="btn btn-default" style="width: 80px; height: 20px; " (click)="grade(sc)">确认</button></th>
              <th width="50%"><button class="btn btn-default" style="width: 80px; height: 20px; " (click)="closeDiv('Grade')">取消</button></th>
            </tr>
          </table>
        </div>
      </tr>
      </tbody>
    </table>
  </div>
  <div align="center">
    第{{pageNo}}/{{pages.length}}页
  </div>
  <div class="btn-group" align="center">
      <button *ngFor="let page of pages" (click)="pageChange(page)">{{page.no}}</button>
  </div>
  <div id = "Import" style="display:none; position:absolute; z-index: 1000; background:white">
    <nav style="background-color: gainsboro">
      导入
    </nav>
    <table align="center" width="300">
      <tr>
        <div class="row gap" align="center">
          <input class="btn btn-default" id="excel_file" type="file" name="filename"  accept="xls"/>
        </div>
      </tr>
    </table>
    <table align="center" width="300">
      <tr>
        <th width="50%"><button class="btn btn-default" style="width: 80px; height: 20px; " (click)="import()">确认</button></th>
        <th width="50%"><button class="btn btn-default" style="width: 80px; height: 20px; " (click)="closeDiv('Import')">取消</button></th>
      </tr>
    </table>
  </div>
</div>

<!--<h2>Here are some links to help you start: </h2>-->
<!--<ul>-->
  <!--<li>-->
    <!--<h2><a target="_blank" href="https://angular.io/docs/ts/latest/tutorial/">Tour of Heroes</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a></h2>-->
  <!--</li>-->
<!--</ul>-->

